
html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: #E8E8E8;
}

.grow {
    width: 100%;
    height: 100%;
}

.view {
    width: 100%;
    height: calc(100% - 86px);
    overflow: auto;
}

.card-xl {
    width: 700px;
}

.card-lg {
    width: 500px;
}

.card-normal {
    width: 400px;
}

.card-sm {
    width: 300px;
}

.card-xs {
    width: 250px;
}

.btn-block {
    width: 100%;
}

.card {
    border-radius: 12px !important;
}