<div class="card p-5 h-fill">
    <div class="card-title ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!/principal">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastro Medida</li>
            </ol>
        </nav>
        <div class="d-flex">
            <div class="btn-group" role="group" aria-label="Ações">
                <button type="button" class="btn btn-outline-success" ng-click="incluir()">📄 Incluir</button>
                <button type="button" class="btn btn-outline-primary" ng-click="alterar(objetoSelecionado)">✏️ Alterar</button>
                <button type="button" class="btn btn-outline-danger" ng-click="excluir(objetoSelecionado)">🗑️ Excluir</button>
            </div>
            <div class="ms-auto">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Digite o que deseja procurar" aria-label="Pesquisar" aria-describedby="barraPesquisa" ng-model="busca.$">
                    <span class="input-group-text" id="barraPesquisa">🔍</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col" ng-class="item.class" ng-repeat="item in tabela.cabecalho" ng-bind="item.descricao"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="linha in tabela.dados | filter:busca" ng-click="selecionar(linha)" ng-class="{selecionado: linha == objetoSelecionado}">
                    <th scope="row" class="fw-normal" ng-repeat="item in tabela.cabecalho" ng-bind="item.filtro ? item.filtro(linha[item.nome]) : linha[item.nome]"></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <!-- PAGINAÇÃO AQUI-->
    </div>
</div>

<!-- MODAL ALERTA -->
<div class="modal" tabindex="-1" id="modalCadastro">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Medida</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex">
                <div class="f2">
                    <label>ID</label>
                    <input type="text" class="form-control" ng-model="medida.id" readonly>
                </div>
                <div class="f8">
                    <label>Descrição</label>
                    <input type="text" class="form-control" ng-model="medida.descricao">
                </div>
                <div class="f2">
                    <label>Sigla</label>
                    <input type="text" class="form-control" ng-model="medida.sigla" maxlength="5">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" ng-click="salvar(medida)">💾 Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ALERTA -->
<div class="modal" tabindex="-1" id="modalAlerta">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{tituloModal}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{mensagemModal}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-show="confirmaModal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-show="confirmaModal" ng-click="callback">Ok</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" ng-show="!confirmaModal" ng-click="callback">Ok</button>
            </div>
        </div>
    </div>
</div>