<div class="d-flex justify-content-center align-items-center h-100">
    <div class=flex-1>
        <div class="card p-5 card-normal">
            <h1 class="card-title text-center">🔥</h1>
            <div class="card-body">
                <label for="cUser">Usuário</label>
                <input type="text" class="form-control" id="cUser"/>
                <label for="cPass">Senha</label>
                <input type="password" class="form-control" id="cPass"/>
                <button class="mt-5 btn btn-block btn-primary">Entrar</button>
            </div>
            <div class="card-footer">
                <p>Ainda não é registrado? Inscreva-se <a href="#Registrar">Aqui</a>.</p>
            </div>
        </div>
    </div>
</div>