<div class="p-5">
    <h1>{{name}}</h1>
    <p>Personalize a vontade</p>

    <h2>Usuários no sistema:</h2>
    <div class="d-flex flex-row">
        <div class="card col-md-3" ng-repeat="usuario in usuarios track by usuario.id">
            <div class="card-body rounded-5">
                <p class="fs-5 fw-bold"> Nome: {{usuario.nome}}</p>
                <p class="m-0 mt-1">Tipo: {{usuario.isAdmin ? 'Adminisitrador':'Usuário'}}</p>
                <p class="m-0">Data de nascimento: {{usuario.dataNascimento | date:'dd/MM/yyyy'}}</p>
                <p class="m-0">Ultima alteração de cadastro: {{usuario.createdAt | date: 'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>
</div>