<!DOCTYPE html>
<html lang="pt-br" ng-app="webserver">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Importar Angular e Bootestrap-->
        <script type="text/javascript" src="./lib/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="./lib/angularjs/angular-route.min.js"></script>
        <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./lib/jquery/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <!--Iniciar aplicação angular-->
        <script>
            //cria angularjs app
            var app = angular.module('webserver', ['ngRoute']);

            //controller geral
            app.controller('mainController', ['$scope', 'requestService',
                function($scope, requestService) {
                    $scope.name = 'Login';

                    //iniciar vazio
                    $scope.listaAcessos = [];
                    $scope.listaCategorias = [];

                    $scope.btnSair = function () {
                        requestService.POST('/autenticar/sair', null, function (ret) {
                            if (ret.error) {
                                alert(`Erro: ${error}`);
                                return;
                            }
                            document.location = '/';
                        });
                    }

                    $scope.$on('$routeChangeSuccess', function (event, toState, toParams, fromState, fromParams) {
                        obterAcessos();
                    });

                    function obterAcessos () {
                        //obter acessos e categorias para navegação
                        requestService.GET('/rest/acesso/obterTodos', function (ret) {
                            if (ret.error) {
                                return;
                            }
                            $scope.listaAcessos = ret;
                            $scope.listaCategorias = [];
                            for (a in $scope.listaAcessos) {
                                if (!$scope.listaCategorias.find(item => item == $scope.listaAcessos[a].categoria)) {
                                    $scope.listaCategorias.push(angular.copy($scope.listaAcessos[a].categoria));
                                }
                            }
                        });
                    }
                }
            ]);

        </script>
        <!-- Rotas -->
        <script type="text/javascript" src="./config/menuRoute.js"></script>
        <!-- Servicos -->
        <script type="text/javascript" src="./services/requestService.js"></script>
        <!-- Diretivas -->
        <script type="text/javascript" src="./directives/customDirectives.js"></script>
        <!-- Importar Controllers -->
        <script type="text/javascript" src="./controllers/principalController.js"></script>
        <script type="text/javascript" src="./controllers/rota1Controller.js"></script>
        <script type="text/javascript" src="./controllers/rota2Controller.js"></script>
        <script type="text/javascript" src="./controllers/loginController.js"></script>
        <script type="text/javascript" src="./controllers/homeController.js"></script>
        <script type="text/javascript" src="./controllers/registrarController.js"></script>
        <script type="text/javascript" src="./controllers/cadastroTipoItemController.js"></script>
        <script type="text/javascript" src="./controllers/cadastroMedidaController.js"></script>
        <title>🔥 Webserver</title>
    </head>

    <body>
        <!--Menu de Navegação Superior-->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" ng-controller="mainController">
            <div class="container-fluid">
                <a class="navbar-brand mr-auto fs-1" href="#">🔥 Webserver</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar01" aria-controls="navbar01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end" id="navbarCategorias">
                    <ul class="navbar-nav my-2 mb-lg-0">
                        <li class="nav-item dropdown" ng-repeat="categoria in listaCategorias" ng-show="categoria">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{categoria}}</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="{{categoria}}">
                                <li ng-repeat="acesso in listaAcessos | filter:{categoria: categoria}"><a class="dropdown-item" href="{{acesso.rota}}">{{acesso.descricao}}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item me-3 ms-3">
                            <span class="nav-link" ng-click="btnSair()">Sair</span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--Views-->
        <div class="view" ng-view></div>

    </body>

</html>